.about-footer {
    background-color: #56CCF2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-footer h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.about-footer .social-icons {
    display: flex;
}

.about-footer .social-icons i {
    font-size: 24px;
    color: white;
    margin-left: 10px; /* Adjusted to margin-left */
}